[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "libflat/euler-swap"]
	path = libflat/euler-swap
	url = https://github.com/euler-xyz/euler-swap
[submodule "libflat/euler-vault-kit"]
	path = libflat/euler-vault-kit
	url = https://github.com/euler-xyz/euler-vault-kit
[submodule "libflat/ethereum-vault-connector"]
	path = libflat/ethereum-vault-connector
	url = https://github.com/euler-xyz/ethereum-vault-connector
